/* VARIABLES 
======================== */
$grey: 				#e7e7e7;
$light-grey: 		#fafafa;
$dark-grey: 		#959595;
$orange: 			#ff7200;
$dark-orange: 		#ba4b13;
$bordeaux: 			#3d0000;
$black: 			#212121;
$link-blue: 		#024999;

/* MIXIN 
======================== */

/* MAIN 
======================== */
body{
	font-family: Arial;
	color: $black;
}
a {
	color: $link-blue;

	&:hover{
		color: $link-blue;
	}
}
.camelCase 		{text-transform: capitalize;}
.orange			{color: $dark-orange;}
h1{
	margin-top: 0;
	margin-bottom: 20px;
}

/* HEADER 
======================== */
header{
	margin-bottom: 50px;

	.navbar{
		margin: 0;
		background: $grey;
		border-bottom: 1px solid $orange;
	}
	.navbar-brand{
		text-transform: uppercase;
		font-weight: 800;
		color: $bordeaux !important;
	}
	.navbar-collapse{
		a{
			color: $bordeaux !important;
		}

		ul.navbar-right{
			font-weight: 400;
			
			li:first-child{
				text-transform: uppercase;
				font-size: 0.9em;
				font-weight: 800;
			}
		}
	}
}

/* CONTENT 
======================== */
.upvotes{
	display: block;
	color: #000;
	text-decoration: none !important;
}
.voting{
	margin-bottom: 10px;
	padding: 0;
	list-style-type: none;
	display: flex;

	li{
		padding: 0;
		width: 30px;
		border: none;
		text-align: center;

		&:first-child{
			text-align: left;
		}
	}
}
.trending{
	margin-bottom: 50px;
	h2{
		text-transform: uppercase;
		font-size: 1.2em;
		margin: 0;
		font-weight: 800;

		.pull-right{
			color: $dark-grey;
			font-weight: 400;
			font-size: 0.8em;
		}
	}
	ul{
		margin-top: 5px;
		list-style-type: none;
		padding: 5px 0;
		background: $light-grey;

		li{
			padding: 5px 10px;

			h3{
				margin: 0;
				font-weight: 600;
				font-size: 1.1em;
			}

		}
	}
}

.latest{
	margin-bottom: 50px;

	h2{
		text-transform: uppercase;
		font-size: 1.2em;
		margin: 0;
		font-weight: 800;

		.pull-right{
			color: $dark-grey;
			font-weight: 400;
			font-size: 0.8em;
		}
	}
	ul{
		margin-top: 5px;
		list-style-type: none;
		padding: 5px 0;
		background: $light-grey;

		li{
			padding: 5px 10px;

			h3{
				margin: 0;
				font-weight: 400;
				font-size: 1.1em;
			}
			p{
				margin: 1px 0;
				font-size: 0.9em;
				color: $dark-grey;
			}
		
		}
	}
}

.addQuestion{

	.form-control{
		border-radius: 0;
	}
}

/* FOOTER 
======================== */

/* RESPONSIVE 
======================== */

/* ANIMATION 
======================== */