<!DOCTYPE html>
<html lang="nl" ng-app="qaApp">
  <head>
  	<!-- Standardzz -->
  	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
	
	<!-- Stylezz -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="/javascripts/qa-app.js"></script>
  </head>
  <body>
	<div ng-controller="MainCtrl">
		{{ test }} wheen :)  -- --- - -- - BOB :D wheen dubbel xD lel sup gast  - - - --
	</div>

    <!-- Scriptzz -->
    <script src="/javascripts/jquery-1.12.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/custom.js"></script>
  </body>
</html>
